

.titreApp svg{
    width: 60px;
    height: 60px;
}

.boutonAffMasq{
    border: 0cm;
    background-color: transparent;
}

.boutonAffMasq svg{
    width: 15px;
    height: 15px;
}

.suppDep{
    border: 0cm;
    background-color: transparent;
}

.suppDep svg{
    width: 15px;
    height: 15px;
}

.addDep{
    border: 0cm;
    background-color: transparent;
}

.addDep svg{
    width: 15px;
    height: 15px;
}

.btnAddUser{
    border: 0cm;
    background-color: transparent;
}

.btnAddUser svg{
    width: 25px;
    height: 25px;
}

.suppUser{
    border: 0cm;
    background-color: transparent;
}

.suppUser svg{
    width: 15px;
    height: 15px;
}