body {
  margin: 0;
  min-height: 100vh;
  /*display: flex;*/
  justify-content: center;
  align-items: center;

}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/fond-argent.jpg");
  background-repeat: repeat;
  opacity: 0.2; /* 20% d'opacité */
  z-index: -1;
}

.titreApp{
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    color: darkslateblue;
    gap: 20px;
}

.titrePartie{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color:darkslateblue;
    padding-top: 5px;
}
.partie{
    width : 60%;
    margin: 10px auto;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f0f4f8;
    border-radius: 20px;
}
.tdDepLib{
    width: 200px;
}

.tdDepMon{
    width:2OOpx;
}

.bodyDonnees{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width:100%;
}


.btn-file {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 16px;
  margin: 10px 10px;
  background-color:cadetblue;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  width: 40%;
  gap: 8px;
}
